<a href="/dashboard">&larr; Back</a>

<div class="admin-title">
    <h2>View / Edit Exercise Sequence</h2>
</div>
<form action="/delete-exercise/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
</form>

<form action="/edit-exercise/<%= data._id %>?_method=PUT" method="POST">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Exercise Sequence Title (Ex: A, B, C, ...)" name="title" value="<%= data.title %>">


    <label for="exercise1"><b>Exercise 01:</b></label>
    <input type="text" placeholder="Exercise 01" name="exercise1"  value="<%= data.exercise1 %>">

    <label for="exercise2"><b>Exercise 02:</b></label>
    <input type="text" placeholder="Exercise 02" name="exercise2"  value="<%= data.exercise2 %>">

    <label for="exercise3"><b>Exercise 03:</b></label>
    <input type="text" placeholder="Exercise 03" name="exercise3"  value="<%= data.exercise3 %>">

    <label for="exercise4"><b>Exercise 04:</b></label>
    <input type="text" placeholder="Exercise 04" name="exercise4"  value="<%= data.exercise4 %>">

    <label for="exercise5"><b>Exercise 05:</b></label>
    <input type="text" placeholder="Exercise 05" name="exercise5"  value="<%= data.exercise5 %>">

    <label for="exercise6"><b>Exercise 06:</b></label>
    <input type="text" placeholder="Exercise 06" name="exercise6"  value="<%= data.exercise6 %>">

    <label for="exercise7"><b>Exercise 07:</b></label>
    <input type="text" placeholder="Exercise 07" name="exercise7"  value="<%= data.exercise7 %>">

    <label for="exercise8"><b>Exercise 08:</b></label>
    <input type="text" placeholder="Exercise 08" name="exercise8"  value="<%= data.exercise8 %>">

    <label for="exercise9"><b>Exercise 09:</b></label>
    <input type="text" placeholder="Exercise 09" name="exercise9"  value="<%= data.exercise9 %>">

    <input type="submit" value="Add" class="btn">
</form>