<h1>Sequence: <%= data.title %></h1>
<h2>Exercises:</h2>
<article class="article">
    <li class="exercise-list-post-exercise">1- <%= data.exercise1 %></li>
    <li class="exercise-list-post-exercise">2- <%= data.exercise2 %></li>
    <li class="exercise-list-post-exercise">3- <%= data.exercise3 %></li>
    <li class="exercise-list-post-exercise">4- <%= data.exercise4 %></li>
    <li class="exercise-list-post-exercise">5- <%= data.exercise5 %></li>
    <li class="exercise-list-post-exercise">6- <%= data.exercise6 %></li>
    <li class="exercise-list-post-exercise">7- <%= data.exercise7 %></li>
    <li class="exercise-list-post-exercise">8- <%= data.exercise8 %></li>
    <li class="exercise-list-post-exercise">9- <%= data.exercise9 %></li>
    
</article>